<h1 class="top"><%= @article.name %></h1>
<div class="left clearer">
<%= render :partial=>"partials/item", :object => @article %>
</div>
<div class="right" style="height: auto;">
<%= @article.text %>
<span class="tags">
Теги:
  <% @article.artags.each do |tag| %>
  <%= link_to tag.name, artagged_url(tag.name), :rel => "tag" %><%= "," unless tag == @article.artags.last %>
  <% end %>
</span>
</div>
